@model VmAssessment
@using CourseTracker.UI.Assessments.Models
@using CourseTracker.UI.Models
@using CourseTracker.Domain.Assessments

@{

    string heading = Model.Id == null ? "Add New Assessment" : $"Assessment: {Model.Name}";
    EntityIds entityIds = ViewBag.EntityIds;

    var assessmentTypeItems = Html.GetEnumSelectList<AssessmentTypes>().ToList();
    assessmentTypeItems.Insert(0, new SelectListItem("Please Select", ""));

}

<h1>@heading</h1>

<form class="border p-3">

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-6">
            <div class="row">
                @Html.EditorFor(x => x.Name, "Question", new { inputControl = Html.TextBoxFor(x => x.Name, new { @class = "form-control" }) })
            </div>
            <div class="row">
                @Html.EditorFor(x => x.AssessmentType, "Question", new { inputControl = @Html.DropDownList("AssessmentType", assessmentTypeItems, new { @class = "form-control" }) })
            </div>
            <div class="row">
                @Html.EditorFor(x => x.Grade, "Question", new { inputControl = Html.TextBoxFor(x => x.Grade, new { @class = "form-control" }) })
            </div>
            <div class="row">
                @Html.EditorFor(x => x.Weight, "Question", new { inputControl = Html.TextBoxFor(x => x.Weight, new { @class = "form-control" }) })
            </div>
        </div>
        <div class="col-6">
            @Html.EditorFor(x => x.Notes, "Question", new { inputControl = Html.TextAreaFor(x => x.Notes, new { @class = "form-control" }) })
        </div>
    </div>    

    <div class="mt-3">

        <input type="submit" value="Save" id="btnSave" class="btn btn-primary mr-2" formaction=@Url.Action("Detail", "Assessments")
               formmethod="post" />

        @Html.ActionLink("Cancel", "Detail", "Courses", new { cid = entityIds.Course.Value.Key }, new { @class = "btn btn-secondary" })

        @if (Model.Id != null)
        {
            @Html.ActionLink("Delete", "Delete", "Assessments", null, new { @class = "btn btn-danger" })
        }

    </div>

</form>

@if (Model.Id != null) {
    await Html.RenderPartialAsync("~/Attachments/Views/Index.cshtml");
}