@model VmStudent
@using CourseTracker.UI.Students.Models
@using CourseTracker.UI.Models
@using CourseTracker.Application.SchoolYears.Queries.GetSchoolYearsList

@{

    // string heading = Model.Id == null ? "Add New Student" : $"Student: {Model.FirstName} {Model.LastName}";
    EntityIds entityIds = ViewBag.EntityIds;
    string heading = entityIds.Student == null ? "Add New Student" : $"Student: {entityIds.Student.Value.Value}";
    List<SchoolYearsListItemModel> schoolYears = Model.Id == null ? null : ViewBag.SchoolYears;

}

<h1>@heading</h1>

<div class="row">
    <div class="col-12 h3">
        @Html.LabelFor(x => x.Average): @Model.Average %
    </div>
</div>

<form class="border p-3">

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    @Html.EditorFor(x => x.FirstName, "Question", new { inputControl = Html.TextBoxFor(x => x.FirstName, new { @class = "form-control w-50" }) })

    @Html.EditorFor(x => x.LastName, "Question", new { inputControl = Html.TextBoxFor(x => x.LastName, new { @class = "form-control w-50" }) })

    @Html.EditorFor(x => x.ProgramName, "Question", new { inputControl = Html.TextBoxFor(x => x.ProgramName, new { @class = "form-control w-50" }) })

    <div class="mt-3">

        <input type="submit" value="Save" id="btnSave" class="btn btn-primary mr-2" formaction=@Url.Action("Detail", "Students")
                formmethod="post" />

        @Html.ActionLink("Cancel", "Index", "Students", null, new { @class = "btn btn-secondary" })

    </div>

</form>

@if (Model.Id != null)
{

    <section class="panel panel-default border p-3 mt-3">

        <div class="panel-heading">
            <h3 class="panel-title">School Years</h3>
        </div>

        <div class="panel-body">

            <div class="row mt-3">
                <div class="col-md-12">
                    @Html.ActionLink("Add Year", "Detail", "SchoolYears", null, new { @class = "btn btn-primary" })
                </div>
            </div>

            <div class="table-responsive">
                <table id="tblSchoolYears" class="table table-striped">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Year #</th>
                            <th>Year</th>
                            <th>Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SchoolYearsListItemModel schoolYear in schoolYears)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink("Details", "Detail", "SchoolYears", new { @syid = schoolYear.Id })
                            </td>
                            <td>
                                @schoolYear.Index
                            </td>
                            <td>
                                @schoolYear.Year
                            </td>
                            <td>
                                @schoolYear.Average %
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </section>

}