@using CourseTracker.Application.Students.Queries.GetStudentsList

@{

    List<StudentListItemModel> students = ViewBag.Students;

}

<h1>Students</h1>

<div class="row mrgn-bttm-md mrgn-tp-md">
    <div class="col-md-12">
        @Html.ActionLink("Add Student", "Detail", "Students", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="table-responsive">
    <table id="tblStudents" class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Program</th>
                <th>Average</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentListItemModel student in students)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Details", "Detail", "Students", new { @id = student.Id })
                        @Html.ActionLink("Delete", "Delete", "Students", new { @id = student.Id })
                    </td>
                    <td>
                        @string.Format("{0} {1}", student.FirstName, student.LastName)
                    </td>
                    <td>
                        @student.ProgramName
                    </td>
                    <td>
                        @student.Average
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>