@using CourseTracker.UI.Models

@{

    EntityIds entityIds = ViewBag.EntityIds;

}

@functions {

    private string GetValue(KeyValuePair<Guid?, string>? kvp, Enums.EntityTypes entityType)
    {

        string result = ((KeyValuePair<Guid?, string>)kvp).Value;

        if (string.IsNullOrEmpty(result))
        {
            if (entityType == Enums.EntityTypes.Student)
                result = "Add Student";
            else if (entityType == Enums.EntityTypes.SchoolYear)
                result = "Add School Year";
        }

        return result;

    }

}

<ol class="breadcrumb mt-3">

    @if (entityIds.EntityType == Enums.EntityTypes.Students)
    {
        <li class="breadcrumb-item active">Students</li>
    }
    else if (entityIds.EntityType == Enums.EntityTypes.Student)
    {
        <li class="breadcrumb-item">@Html.ActionLink("Students", "Index", "Students")</li>
        <li class="breadcrumb-item active">@GetValue(entityIds.Student, entityIds.EntityType)</li>
    }
    else if (entityIds.EntityType == Enums.EntityTypes.SchoolYear)
    {
        <li class="breadcrumb-item">@Html.ActionLink("Students", "Index", "Students")</li>
        <li class="breadcrumb-item">@Html.ActionLink(@GetValue(entityIds.Student, entityIds.EntityType), "Detail", "Students", new { sid = entityIds.Student.Value.Key })</li>
        <li class="breadcrumb-item">@GetValue(entityIds.SchoolYear, entityIds.EntityType)</li>
    }
    else if (entityIds.EntityType == Enums.EntityTypes.Course)
    {
        
    }
    else if (entityIds.EntityType == Enums.EntityTypes.Assessment)
    {
        
    }


</ol>

