@using CourseTracker.UI.Models

@{

    EntityIds entityIds = ViewBag.EntityIds;

}

@functions {

    private string GetValue(KeyValuePair<Guid?, string>? kvp, Enums.EntityTypes entityType)
    {

        string result = ((KeyValuePair<Guid?, string>)kvp).Value;

        if (string.IsNullOrEmpty(result))
        {
            if (entityType == Enums.EntityTypes.Student)
                result = "Add Student";
            else if (entityType == Enums.EntityTypes.SchoolYear)
                result = "Add School Year";
            else if (entityType == Enums.EntityTypes.Course)
                result = "Add Course";
            else if (entityType == Enums.EntityTypes.Assessment)
                result = "Add Assessment";
        }
        else
        {
            if (entityType == Enums.EntityTypes.Student)
                result = "Student: " + result;
            else if (entityType == Enums.EntityTypes.SchoolYear)
                result = "School Year: " + result;
            else if (entityType == Enums.EntityTypes.Course)
                result = "Course: " + result;
            else if (entityType == Enums.EntityTypes.Assessment)
                result = "Assessment: " + result;
        }

        return result;

    }

}

<ol class="breadcrumb mt-3">

    @if (entityIds.EntityType == Enums.EntityTypes.Students)
    {
        <li class="breadcrumb-item active">Students</li>
    }
    else if (entityIds.EntityType == Enums.EntityTypes.Student)
    {
        <li class="breadcrumb-item">@Html.ActionLink("Students", "Index", "Students")</li>
        <li class="breadcrumb-item active">@GetValue(entityIds.Student, entityIds.EntityType)</li>
    }
    else if (entityIds.EntityType == Enums.EntityTypes.SchoolYear)
    {
        <li class="breadcrumb-item">@Html.ActionLink("Students", "Index", "Students")</li>
        <li class="breadcrumb-item">@Html.ActionLink(@GetValue(entityIds.Student, Enums.EntityTypes.Student), "Detail", "Students", new { sid = entityIds.Student.Value.Key })</li>
        <li class="breadcrumb-item">@GetValue(entityIds.SchoolYear, entityIds.EntityType)</li>
    }
    else if (entityIds.EntityType == Enums.EntityTypes.Course)
    {
        <li class="breadcrumb-item">@Html.ActionLink("Students", "Index", "Students")</li>
        <li class="breadcrumb-item">@Html.ActionLink(@GetValue(entityIds.Student, Enums.EntityTypes.Student), "Detail", "Students", new { sid = entityIds.Student.Value.Key })</li>
        <li class="breadcrumb-item">@Html.ActionLink(@GetValue(entityIds.SchoolYear, Enums.EntityTypes.SchoolYear), "Detail", "SchoolYears", new { syid = entityIds.SchoolYear.Value.Key })</li>
        <li class="breadcrumb-item">@GetValue(entityIds.Course, entityIds.EntityType)</li>
    }
    else if (entityIds.EntityType == Enums.EntityTypes.Assessment)
    {
        <li class="breadcrumb-item">@Html.ActionLink("Students", "Index", "Students")</li>
        <li class="breadcrumb-item">@Html.ActionLink(@GetValue(entityIds.Student, Enums.EntityTypes.Student), "Detail", "Students", new { sid = entityIds.Student.Value.Key })</li>
        <li class="breadcrumb-item">@Html.ActionLink(@GetValue(entityIds.SchoolYear, Enums.EntityTypes.SchoolYear), "Detail", "SchoolYears", new { syid = entityIds.SchoolYear.Value.Key })</li>
        <li class="breadcrumb-item">@Html.ActionLink(@GetValue(entityIds.Course, Enums.EntityTypes.Course), "Detail", "Courses", new { cid = entityIds.Course.Value.Key })</li>
        <li class="breadcrumb-item">@GetValue(entityIds.Assessment, entityIds.EntityType)</li>
    }


</ol>

